*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --clr-orange: #FF6433;
    --clr-white: #FFFFFF;
    --clr-black: #1E1B1B;
    --clr-grey: #939191;
    --clr-blue: #5CBA99;
    --clr-steelgrey: #E2E6E9;
    --clr-lightgrey: #F2F2F2;
    --clr-bluee:#661CE7;
    --clr-black:#1E1B1B;
    --clr-whitee:#FAFAFA;
    
    font-family: Manrope;
    font-size: 19px;
}

/* Styling the header */
header{
    width: 100%;
    background-color: var(--clr-white);
    position: fixed;
    padding-bottom: 1em;
    padding-top: 1em;
    color: var(--clr-black);
    z-index: 50;
} 
.header-div{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo{
    background:var(--clr-white);
    font-size: 0.7rem; 
}

.nav-tag{
    text-decoration: none;
    color: var(--clr-black);
}

nav{
    display: flex;
    align-items: center;
    column-gap: 1.5em;
    color: var(--clr-black);   
}

nav ul{  
    display: flex;
    align-items: center;
    column-gap: 2em;
    padding: 0.5rem 1rem 0.5rem 0;
    border-right: 0.05rem solid #939191;
}

nav ul li{
    list-style: none;
    color: var(--clr-black);
    text-decoration: none;
}

nav ul li:hover, .header-text #p:hover{
    font-size: 1.05rem;
    background-color: whitesmoke;
}

.header-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
}

.header-icon{
    width: 2em;
}

.header-text p{
    font-size: 0.7em;
    line-height: 1.3em;
    text-align: left;
}

/* styling the first section (id=book-service-page) */

.section-eighty-width{
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-eighty-width .section-container{
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-eighty-width .section-container .section-left{
    /* width: 50%; */
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.section-eighty-width .section-container .section-left .first-text{
    width: 100%;
    color: var(--clr-black);
    margin-top: 3.75em;
    font-size: 2em;
    line-height: 2.375em;
    letter-spacing: -0.01em;
    margin-bottom: 0.625em;
}

.button{
    margin: 0.4em 0;
    width: 9.4rem;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--clr-white);
    border-radius: 0.5em;
    background-color: var(--clr-orange);
    padding: 1em;
}

.button:hover{
    width: 10em;
    background-color: var(--clr-blue);
    color: var(--clr-black);
}
 
#timer{
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.timer-width{
    width: 2em;
}

.last-text{
    display: flex;
    column-gap: 0.63em;
    margin-top: 1.25em;
}

.last-text p{
    padding: 0.125em;
    font-size: 0.75em;    
}

.grey{
    color: var(--clr-grey); 
}

.section-eighty-width .section-container .section-right{
   width: 50%; 
   justify-content: center;
   align-items: center;
}

.section-eighty-width .section-container .right-image{
    width: 45%;
    background-image: url(../images/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    margin-left: auto;  
}

#twenty-four-hr{
    width: 3.5em;
}

#star{
    width: 1em;
}

.rating-button{
    position: absolute;
    width: 14rem;
    right: -5%;
    bottom: 5%;
    border-radius: 3.75em;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--clr-black);
    box-shadow: 0em 0.06em 0.06em 0em #6D6C731F inset;
    border: 0.625em solid #6D6C731F
}

.rating-button:hover, .service-button:hover {
    width: 18em;
    color: var(--clr-blue);
}

.rating-button .button-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 1em;
    column-gap: 1em;
    font-size: 1.3em;
    font-weight: bold;
} 

.button-content #small-rating{
    font-size: 0.625em;
    color: var(--clr-grey);
    text-align: left;
}

.service-button{
    position: absolute;
    width: 14rem;
    left: -5%;
    top: 8%;
    border-radius: 3.75em;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--clr-black);
    box-shadow: 0em 0.06em 0.06em 0em #6D6C731F inset;
    border: 0.625em solid #6D6C731F;
} 

.service-button .button-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    padding: 0.625em 2.5em 0.5em 0;
    column-gap: 1em;
    font-size: 1.05em;
    font-weight: bold;
} 

/* styling the second section (id=qoute-page) */
.section-left .flex-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    column-gap: 1em;
    margin: 7% 42% 0 0;
}

.section-left .flex-content .left-align{
    text-align: left;
}

.flex-content-img{
    width: 2em;
}

.section-left h2{
    font-size: 2.5rem;
    margin-right: 7%;
    margin-bottom: 1.2rem;
}

.left-texts{
    margin-right: 3%;
    font-weight: normal; 
}

.light-font{
    font-size: 1rem;  
}

.left-align .p{
    font-size: 0.75rem;
    font-weight: 600;
    line-height: 1.3rem;
    letter-spacing: 0.01rem;
    opacity: 0.4;
}

#qoute-page{
    background-color: var(--clr-steelgrey);
}

.arrow{
    display: flex;
    gap: 1rem;
    margin: 2em 0 0 4.2em;
    font-size: 0.7rem;
}

.arrow-width{
    width: 2.5em;
}

.section-eighty-width .section-container .section-right h1{
    font-size: 2.8rem;
    padding-right: 1rem; 
}

form{
    margin-top: 5%;
    margin-bottom: 5%;
}

.section-eighty-width .section-container .section-right input{
    width: 40em;
    padding: 1rem;
    padding-left: 2.5rem;
    margin-top: 0.2rem;
    border: none;

}

/* styling the third section(class=offer-page) */
#offer-page{
    height: 80vh;
}

#offer-page #offer-container .offer-left-text{
    margin: 1em 0 0 5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.offer-left-text .offer-content{
    display: flex;
    justify-content: center;
    gap: 1.25em;
    margin-top: 4%;
}

.offer-left-text .offer-content .offer-text{
    line-height: 1.25em;
}

.offer-left-text .offer-content .offer-text .small-font{
    text-align: left;
    font-size: 0.7rem;
    opacity: 0.4;
}

.offer-left-text .offer-content .circle{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}

.offer-left-text .offer-content .circle .blue{
    background-color:var(--clr-bluee);
    padding: 0.63em;
    border-radius: 6em; 
}

.offer-left-text .offer-content .dots{
    width: 1.9em;
    padding-left: 1em;
}

.line-width{
    width: .06em;
}

#offer-page #offer-container #offer-width {
    width: 50%;
    height: 100%;  
}

#offer-page #offer-container .offer-right .inner-offer-right{
    width: 80%;
    height: 80%;
    margin-top: 2%;
    padding-top: 10%;
}

#offer-page #offer-container .offer-right #offer-h1{
    font-size: 1.7rem;
}

#offer-page #offer-container .offer-right .p{
    font-size: 0.8rem;
    margin: 5% 20% 5% 0;
    opacity: 0.4;
}

#offer-page #offer-container .offer-right #offer-button{
    width: 32%;
}


/* Styling the fourth section(class=cta-page) */
#cta-page{
    margin: none;
    background-color: var(--clr-lightgrey);
}

#cta-page .cta-container{
    width: 80%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#cta-page .cta-container .content-center{
    text-align: center;
    width: 100%;
}

.content-center .h1{
        width: 48%;
        margin: auto;
        font-size: 1.2rem;
        margin-top: 0.625em;
}

.content-center h5{
        padding-top: 7%;
}

.content-center #flexbox-cta-container{
    width: 40.5rem;
    margin: auto;

}

.content-center .flex-box{
    display: flex;
    flex-wrap: wrap;
    row-gap: 0.1rem;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.content-center .flex-box .box-card{
    height:10rem;
    width: 10rem;
    background-color: var(--clr-white);
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5%;
}

.content-center .flex-box .box-card a{
    text-decoration: none;
    color: #1E1B1B;
    font-size: 0.8rem;
}

#orange-box{
    background-color: var(--clr-orange);
}

#orange-box #white-font{
    color: var(--clr-white);
}

.content-center .flex-box .box-card #color{
    background-color: #FF6433;
}

.content-center .flex-box .box-card p{
    font-size: 0.62rem;
}

.footer-offer-page{
    font-size: 0.6rem;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
}

/* styling the fifth section(class=experience-page) */
#experience-page{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#experience-page .experience-container{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
}

#experience-page .experience-container .experience-left-page{
    width: 50%;
    height: 60vh;
    background-image: url(../images/Image\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#experience-page .experience-container .experience-left-page .inner-experience-left-page{
    width: 70%;
    background-color: var(--clr-orange);
    color: #FFFFFF;
    height: 60vh;
    margin-left: 30%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.25em;
}

#experience-page .experience-container .experience-left-page .inner-experience-left-page .inner-text{
    font-size: 1.2rem;
    margin-right: 5%;
}

#last-button{
    background-color: var(--clr-black);
    width: 8rem;
}

#experience-page .experience-container .experience-right-page{
    width: 50%;
    height: 60vh;
    background-image: url(../images/ovGrEUgrkyE.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#experience-page .experience-rating{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-lightgrey);
}

#experience-page .experience-rating #central-div{
    width: 65%;
    margin: auto;
}

#experience-page .experience-rating #central-div .text-blue{
    font-size: 2.5rem;
    color: var(--clr-bluee);
}

#brands-page{
    width: 100%;
    height: 60vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #FAFAFA;
    padding: 0em 3em;
    margin: auto;
}

#brands-page .brand-text{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 1.5em;
}

#brands-page .first-brand-layer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

#logo-size{
    width: 15em;
}

/* Customer page styling */
#customer-page{
    background-color: var(--clr-lightgrey);
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-content: center; 
}

#customer-page .customer-comment-heading{
    text-align: center;
    font-size: 1.7em;
    width: 60%;
    margin: auto;
}

#customer-page .customer-comment-heading h1{
    padding: 10% 0 10% 0;
}

#customer-page #customer-comments{
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 35vh;
    margin: auto;
    gap: 5%;
    font-size: 0.95rem;
    line-height: 1.5em;
}

#customer-page #customer-comments .content{
    background-color: var(--clr-white);
    padding: 3%;
}
#customer-page #customer-comments .content .head{
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    line-height: 1.3em;
}

.address{
    font-size: 0.7em;
    color: var(--clr-grey);
}

.customer-text{
    opacity: 0.7;
}

.customer-nav{
    display: flex;
    text-align: right;
    width: 60%;
    margin: auto;
    justify-content: flex-end;
    align-items: center;
}

/* styling FQA section */
#faq{
    background-color: var(--clr-steelgrey);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq .faq-container{
    width: 40%;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

#faq .faq-container .faq-body{
    display: flex;
    justify-content: space-between;
    gap: 0.6em;
    flex-direction: column;
}

#faq .faq-container .faq-body .questions{
    width: 100%;
    background-color: var(--clr-white);
    padding: 3%;
    display: flex;
    justify-content: space-between;
}

#question1{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-white);
    padding: 3%;
    gap: 1rem;
}

.questions-1{
    display: flex;
    justify-content: space-between;
}

.question-answer{
    font-size: 0.7em;
    margin-right: 20%;
    opacity: 0.4;
}

.faq-orange{
    background-color: var(--clr-orange);
    width: 1.5em;
    height: 1.5em;
    justify-content: center;
    align-items: center;
    display: flex;
    color: var(--clr-white);
}

/* footer styling */
footer{
    background-color: var(--clr-black);
    color: var(--clr-white);
    width: 100%;
    height: 80vh;
}

 .first-layer{
    display: flex;
    height: 60vh;
    width: 80%;
    margin: auto;
    
} 

.inner-layer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

#left-footer{
    width: 50%;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
}

.footer-text{
    font-size: 1.5em;
}

.footer-social-icons{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

#right-footer{
    width: 50%;
    height: 60vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2em;
    margin-left: 7em;
}

.right-footer-text{
    line-height: 1.4em;
}

.footer-small-font{
    font-size: 0.7em;
    opacity: 0.4;
}


.second-layer{
    box-shadow: 0 -1em 3em -1em black inset;
    width: 100%;
    height: 20vh;
    justify-content: center;
    font-size: .8em;
}

.footer-logo{
   font-size: .6em;
}

.second-layer .second-layer-container{
    width: 80%;
    height: 20vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-nav ul{
    display: flex;
    justify-content: space-between;
    gap: 2.3em;
    list-style: none;
}

.footer-nav ul li a{
    text-decoration: none;
    color: var(--clr-white);
}

/* MEDIA QUERY */
/*  MOBILE PHONE view*/
@media screen and (min-width: 330px ) and (max-width: 480px) {
    :root{
        font-size: 11px;
    }
    
    nav ul{
        border: none; 
    }
    .header-contact{
        column-gap: 0.7em;     
    }
    
    header{
        width: 100%;
        padding-bottom: 0.3em 0.2em;
        position: static;
    
    }
        
    .header-div{
        width: 100%;
        flex-direction: column;
        gap: 0.7em;
    }

    nav{
        column-gap: .5em;
        font-size: 1.2em;   
    }
    
    nav ul{
        column-gap: 1.2em; 
    }

    .header-contact{
        display: none;
    }
        
    .header-text{
        font-size: 1.4em
        }
    
    .header-icon{
        width: 1.2em;
    }
        
    .section-eighty-width{
        width: 100%;
        height: auto;     
    }
    
    .section-eighty-width .section-container{
        width: 90%;
        flex-direction: column;
        height: auto;
        justify-content: center;
        gap:1em;
    }
    
    .section-eighty-width .section-container .section-left{
        width: 100%;
        padding: 1em; 
        align-items: center;
        height: auto;
    
    }
    .section-eighty-width .section-container .section-left .first-text{
        padding-top: 0em;
        font-size: 1.2em;
        text-align: center;
    }
    
    .button{
        width: 9em;
        font-size: .9em;  
    }
    
    .last-text{
        margin-top: 1em;
        font-size: 1em;
    }
    
    .section-eighty-width .section-container .section-right{
        width: 100%;
        height: auto;
        margin-top: 0;
            
    }
    .section-eighty-width .section-container .right-image{
        width: 90%;
        height: 40vh;
        margin: auto;   
    }   

    .service-button{
        width: 10rem;
        top: 5%;     
    }
    
    .service-button .button-content{
        padding: 1em 0em;
        column-gap: 0.2em;
        font-size: 0.6em;
        padding-right: 2em;
    }
    
    #twenty-four-hr{
        width: 2.3em;
    }
    .rating-button{
        width: 10em;
    }
    
    #star{
        width: .7em;
    }
    .rating-button .button-content{
        padding: 1em;
        column-gap: .5em;
        font-size: 0.8em;
    }
    
    .rating-button:hover, .service-button:hover{
         width: 13em;
    }

    #qoute-page{
        width: 100%;
        height: auto; 
    }

    #qoute-page .section-container{
        height: auto;
    }

    #qoute-page .section-container .section-left{
        margin: auto;
        height: auto;
    }

    #qoute-page .section-container .section-right{
        margin: auto;
        height: auto;
    } 
    
    #qoute-page .section-container .section-right form input{
        width: 100%;
        font-size: 1em;
        padding: 1rem;
    }

    #quote-media{
        text-align: center;
        margin: 0%;
    }

    .media-button{
        text-align: center;
        padding-top: 0em;

    }
    .section-left .flex-content{
        column-gap: 0.5em;
        margin: 4% 0 0 0;
        font-size: 1em;
    }

    #quote-media h2{
        padding-top: .5em;
        font-size: 1.5em;
    }
   
    .light-font{
        font-size: 1rem;  
    }

    .left-align .p{
        font-size: 0.9rem;
    }
    
    .flex-content-img{
        width: 1.7em;
    }

    .arrow{
        margin: .8em 0 0 2.8em;
        font-size: .8rem;
    }

    #qoute-page .section-container .section-right h1{
        text-align: center;
        font-size: 1.5em;
    }

    #offer-page{
        padding: 1em 1em;
        overflow: hidden;
        justify-content: space-between;
        height: auto;
    }
    #offer-page #offer-container{
        margin: auto;
        gap: 2em;
    }

    #offer-page #offer-container #offer-width{
        width: 100%;
        margin: auto;
    }
    #offer-page #offer-container .offer-right .inner-offer-right{
        width: 100%;
    }

    #offer-page #offer-container .offer-right #offer-h1{
        text-align: center;
        font-size: 1em;
    }

    #offer-page #offer-container .offer-right .p{
        text-align: center;
        margin: .5em 0em;
        font-size: .8em;
    }

    #offer-media-button{
        text-align: center;
    }
    
    .offer-content{
        font-size: 1.2em;
    }

    #offer-page #offer-container .offer-left-text{
        margin: auto;
    }

    .offer-left-text .offer-content .offer-text .small-font{
        font-size: 1rem;
        margin-right: 0%;
    }
   .content-center .h1{
        width: 100%;
        padding-bottom: 2em;  
   }

   .content-center #flexbox-cta-container{
    width: 100%;
    }

    .content-center .flex-box{
        justify-content: center;
        gap: .5em;
    }
    .content-center .flex-box .box-card{
        height:16rem;
        width: 16rem;
        margin-top: .5em;   
    }

    #cta-page .cta-container{
        width: 90%;
        height: auto;
    }
    .content-center .flex-box .box-card p{
        font-size: 1.3rem;
    }

    #cta-page{
        width: 100%;
        height: auto;
      
    }

    .content-center .h1{
        width: 100%;
        margin: auto;
        font-size: 1.3rem;
        margin-top: 0.2em;
    }

    .content-center h5{
        padding-top: 5%;
        font-size: 1.5em;
    }


    .footer-offer-page{
        font-size: .8em;
    } 

   .experience-container{
        flex-direction: column;
        width: 100%;
        

   }

   #experience-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    #experience-page .experience-container{
        padding: 0.5em 1em;
    }

    #experience-page .experience-container .experience-left-page{
        width: 100%;
    }

    #experience-page .experience-container .experience-left-page .inner-experience-left-page{
        width: 70%;
        height: 30vh;
    }

    #experience-page .experience-container .experience-left-page .inner-experience-left-page .inner-text{
        font-size: 1.3rem;
        text-align: center;
    }

    #experience-page .experience-container .experience-right-page{
        width: 100%;
    
    }
    #experience-page .experience-rating #central-div{
        width: 100%;
        padding: 0em;
    }

    #experience-page .experience-rating #central-div .text-blue{
        font-size: 1.5em;
    }

    #exp-media{
        display: flex;
        padding: 0em 1.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #exp-media-p{
        font-size: 0.5em;
    }

    .last-button{
        padding-top: 2em;
        text-align: center;
    }

    #customer-page{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    #customer-page .customer-comment-heading{
        padding: 0% 0%;
        width: 100%; 
        font-size: 1em;
    }
    #customer-page #customer-comments{
        flex-direction: column;
        width: 80%;
        height: auto;
        gap: 1em;
    }
    .content{
        font-size: .8em;
    }
    .customer-details .name{
        font-size: 1em;
    }
    .customer-details .address{
        font-size: .8em;
        padding-top: .2em;
    }
    
    #slides{
        display: none;
    }

    .customer-nav{
        width: 80%;
        gap: em;
        
    }

    #faq{
        height: auto;
        padding: 1em
    }
    
    #faq .faq-container{
        width: 90%;
        font-size: 1.2em;
    }

    .faq-heading{
        text-align: center;
    }
    .question-answer{
        font-size: 0.9em;
        margin-right: 10%;
    }

    #footer{
        height: auto;
    }
    
    #footer #footer-contain{
        width: 100%;
        padding: 1em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        height: 40vh;
        
    } 

    #left-footer{
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    
    .footer-text{
        font-size: 1em;
        padding-top: 1em;
    }
    
    .footer-social-icons{
        margin: auto;
        gap: 2em;
    }
    
    #right-footer{
        width: 100%;
        justify-content: center;
        align-items: left;
        gap: 1em;
 
    }
    
    .right-footer-text{
        font-size: 1em;
    }
    
    .footer-small-font{
        font-size: 0.6em;
    }
    
    
    .second-layer{
        width: 100%;
    }
    
    .footer-logo{
       font-size: .8em;
    }
    
    .second-layer .second-layer-container{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
    }
    
    .footer-nav ul{
        gap: 1em;
        font-size: 1.4em;
    }
    
    #brands-page .brands-inner-page{
        width: 100%;
        
    }

    #brands-page{
        height: auto;
    }

}

/*  normal Tab view*/
@media screen and (min-width: 481px ) and (max-width: 768px) {
    :root{
        font-size: 13px;
    }

    nav ul{
        border: none; 
    }
    .header-contact{
        column-gap: 0.7em;     
    }
    
    header{
        width: 100%;
        padding-bottom: 0.3em 0.2em;
        position: static;
    
    }
        
    .header-div{
        width: 100%;
        flex-direction: column;
        gap: 0.7em;
        height: auto;
        padding: 0em 2em;
    }

    nav{
        column-gap: .5em;
        font-size: 1.2em;   
    }
    
    nav ul{
        column-gap: 2em; 
    }
        
    .header-text{
        font-size: .8em
        }
    
    .header-icon{
        width: 1.2em;
        display: none;
    }
    
    .section-eighty-width{
        width: 100%;
        height: auto     
    }

    
    .section-eighty-width .section-container{
        width: 90%;
        flex-direction: column;
        height:auto;
        justify-content: center;
        gap: 2em;
    }
    
    .section-eighty-width .section-container .section-left{
        width: 100%;
        padding: 1em; 
        align-items: center;
        height: auto;
    
    }
    .section-eighty-width .section-container .section-left .first-text{
        padding-top: 0%;
        font-size: 2em;
        text-align: center;
    }
    
    .button{
        width: 9em;
    }
    
    .last-text{
        margin-top: 1.5em;
    }
    
    .section-eighty-width .section-container .section-right{
        width: 100%;
        margin-top: 0;
            
    }
    .section-eighty-width .section-container .right-image{
        width: 90%;
        margin: auto;
        height: 50vh;   
    }   

    .service-button{
        width: 13rem;
        top: 12%;     
    }
    
    .service-button .button-content{
        padding: 1em 0em;
        column-gap: 0.5em;
        font-size: .8em;
        padding-right: 2em;
    }
    
    #twenty-four-hr{
        width: 3em;
       
    }
    .rating-button{
        width: 15em;
    }
    
    #star{
        width: 0.5em;
    }
    .rating-button .button-content{
        padding: .5em 1em;
        column-gap: .5em;
    
    }
 
    /* footer styling */

    #footer{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4em;
        padding: 2em 0em 0em 0em;
    }

    #footer-contain{
        /* height: auto; */
        padding: 2em 0em;
    }
        .first-layer{
        display: flex;
        width: 100%;
        padding: 0em 1em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        gap: 2em;
        padding: em 0em;
    } 

    #stress{

    }
    
    #left-footer{
        padding-top: 1em;
        width: 80%;
        text-align: center;
        /* height: 40vh; */
    }

    .eighty-width .section-container .section-left{
        height: ;
    }

    .footer-social-icons{
        gap: 4em;
        margin: auto;
    }

    #right-footer{
        width: 100%;
        /* height: 40vh; */
    
    }

    .footer-text {
        margin: auto;
    }

    .footer-small-font{
        font-size: 0.9em;
        opacity: 0.6;
    }

    .second-layer{
        font-size: 1em;
        padding: 0em 2em;
    }

    .footer-logo{
        font-size: .7em;
    }

    .second-layer .second-layer-container{
        width: 100%;
        gap: 1em;
        flex-direction: column;
        padding-bottom: 1em ;
       
    }

    .footer-nav ul{
        gap: 2em;
    }

    .footer-nav ul li a{
        font-size: 1.5em;
    }

        /* styling FQA section */
    #faq{
        background-color: var(--clr-steelgrey);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0em;
    }

    #faq .faq-container{
        width: 90%;
        font-size: 1.5em;

      
    }
    .question-answer{
        font-size: .5em;
    }
    /* Customer page styling */
    #customer-page{
        height: auto;
    }

    #customer-page .customer-comment-heading{
        width: 80%;
    }

    #customer-page #customer-comments{
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: auto;
        font-size: 1.2rem;
        line-height: 1.3em;
        gap: .5em;
    }
    
    #customer-page #customer-comments .content .head{
        font-size: 1.3rem;  
    }

    .address{
        font-size: 0.9em;
    }

    .customer-nav{
        width: 80%;
        padding-top: .2em;
    }


    #brands-page{
        height: auto;
    }
    
    #brands-page .brand-text{
        text-align: center;  
        font-size: 1.5em;
       
    }

    #logo-size{
        width: 13em;
    }
    
    #brands-page .first-brand-layer{
        width: 80%;
        margin: auto;
    }
    
    #experience-page .experience-rating{
        padding: 0em 1em;
    }
    
    #experience-page .experience-rating #central-div{
        width: 100%;
        gap: 2em;
    }
    
    #exp-media{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #exp-media-p{
        font-size: .9em;
    }

        /* styling the fifth section(class=experience-page) */
    #experience-page{
        height: auto;
    }

    #exp-media-p{
        font-size: .7em;
    }

    #experience-page .experience-container{
        height: auto;
        justify-content: space-between;
    }

    #experience-page .experience-container .experience-left-page{
        height: 50vh;
    }

    #experience-page .experience-container .experience-left-page .inner-experience-left-page .inner-text{
        font-size: .9rem;
        margin-right: 2%;
    }

    #experience-page .experience-container .experience-right-page{
        height: 50vh;}

    #experience-page .experience-container .experience-left-page .inner-experience-left-page{
        height: 50vh;
    }  
       
    /* Styling the fourth section(class=cta-page) */
    #cta-page{
        margin: auto;
        height: auto;
        padding: 1em;

    }

    #cta-page .cta-container{
        width: 90%;
        margin: auto;
    }

    .content-center .h1{
        width: 70%;
    }

    .content-center h5{
        padding-top: 2%;
        font-size: 1.1em;
    }

    .content-center .flex-box .box-card p{
        font-size: 1.2rem;
    }

    .footer-offer-page{
        font-size: 0.9rem;
    }
    
    .content-center .flex-box{
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.1rem;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        gap: .5em;
    }

    .content-center .flex-box .box-card{
        height:14rem;
        width: 14rem;
        background-color: var(--clr-white);
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 5%;
    }

    .content-center #flexbox-cta-container{
        width: 100%;
    
    }

    .footer-offer-page{
        width: 90%;
    }
   

        /* styling the second section (id=qoute-page) */
    
    #quote-media h2{
        text-align: center;
        padding-top: .5em;
        font-size: 2.5em;
    }

    #qoute-page{
        height: auto;
    }

    #qoute-page .section-container{
        justify-content:space-between;
        align-items: center;
        height: auto;
        gap: 1em;
        
    }

    #quote-media{
        height: 50%
    }

    .section-left .flex-content{
        margin: 5% 0% 2% 0;
    }

    .flex-content-img{
        width: 2.5em;
    }   

    .light-font{
        font-size: 1.5rem;  
    }

    .left-align .p{
        font-size: 1rem;
        font-weight: 0;
        line-height: 1.7rem;
    }

    .arrow{
        margin: .8em 0 0 4.2em;
        font-size: .8rem;
    }

    #quote-media2{
        height: auto;
        text-align: center;
    }

    .section-eighty-width .section-container .section-right h1{
        font-size: 2.7rem;
        padding-top: 1rem;
    }

    .section-eighty-width .section-container .section-right input{
        width: 100%;
        font-size: 2em;
    }

    #offer-page{
        height: auto;
        width: 100%;
        margin: 0%;
        
    }
    #offer-page #offer-container{
        width: 90%;
        align-items: center;
    }

    #offer-media-width{
        margin-right: 0%;
    }
    
    #offer-page #offer-container .offer-left-text{
        margin: 2em 0 0em 0rem;
       }
    #offer-media-h1{
        text-align: center;
        margin-right: 0%;
        padding-left: 0%;
        width: 100%;
        padding: .7em;
    }

    .offer-left-text .offer-content{
        font-size: 1.8em;
      
    }
    
    .offer-left-text .offer-content .offer-text{
        line-height: 1.5em;
    }
    
    .offer-left-text .offer-content .offer-text .small-font{
        line-height: 1.5em;
        font-size: 1.5rem;
        margin-right: 0%;
    }
    
    .offer-left-text .offer-content .dots{
        width: 1.9em;
        padding-left: 1em;
    }
    
    .line-width{
        width: .08em;
    }
    
    #offer-page #offer-container #offer-width {
        width: 100%;
        height: 100%;
    }
    
    #offer-page #offer-container .offer-right .inner-offer-right{
        width: 100%;
        padding-top: 0%;
        text-align: center;
    }
     
    #offer-page #offer-container .offer-right .p{
        font-size: 1.5rem;
        margin: 3% 1%;
    }


    #offer-width{
        padding-bottom: 2em;
    }
}

/* Bigger Tab view*/
@media screen and (min-width: 769px ) and (max-width: 1075px) {
    :root{
        font-size: 18px;
    }

    nav ul{
        border: none; 
    }
    .header-contact{
        column-gap: 0.7em;     
    }
    
    header{
        width: 100%;
        padding-bottom: 0.3em 0.2em;
        position: static;
    
    }
        
    .header-div{
        width: 100%;
        flex-direction: column;
        gap: 0.7em;
        height: auto;
    }

    nav{
        column-gap: .5em;
        font-size: 1.2em;   
    }
    
    nav ul{
        column-gap: 1.2em; 
    }
        
    .header-text{
        font-size: 1em
        }
    
    .header-icon{
        width: 1.2em;
    }
    
    .section-eighty-width{
        width: 100%;
        height: auto     
    }

    
    .section-eighty-width .section-container{
        width: 90%;
        flex-direction: column;
        height:auto;
        justify-content: center;
        gap: 2em;
    }
    
    .section-eighty-width .section-container .section-left{
        width: 100%;
        padding: 1em; 
        align-items: center;
        height: auto;
    
    }
    .section-eighty-width .section-container .section-left .first-text{
        padding-top: 0%;
   
        text-align: center;
    }
    #ease{
        /* font-size: 5px; */
    }
    
    .button{
        width: 9em;
    }
    
    .last-text{
        margin-top: 1.5em;
    }
    
    .section-eighty-width .section-container .section-right{
        width: 100%;
        margin-top: 0;
            
    }
    .section-eighty-width .section-container .right-image{
        width: 90%;
        margin: auto;
        height: 80vh;   
    }   

    .service-button{
        width: 13rem;
        top: 12%;     
    }
    
    .service-button .button-content{
        padding: 1em 0em;
        column-gap: 0.5em;
        font-size: 1em;
        padding-right: 2em;
    }
    
    #twenty-four-hr{
        width: 3em;
       
    }
    .rating-button{
        width: 15em;
    }
    
    #star{
        width: 0.5em;
    }
    .rating-button .button-content{
        padding: 1em 1.5em;
        column-gap: .5em;
    
    }
 
    /* footer styling */
    #footer{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4em;
        padding: 2em 0em 0em 0em;
        font-size: 14px;
    }

    #footer-contain{
        /* height: auto; */
        padding: 2em 0em;
    }
        .first-layer{
        display: flex;
        width: 100%;
        padding: 0em 1em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: auto;
        gap: 2em;
        padding: em 0em;
    } 

    #stress{

    }
    
    #left-footer{
        padding-top: 1em;
        width: 90%;
        text-align: center;
        /* height: 40vh; */
    }

    .eighty-width .section-container .section-left{
        height: ;
    }

    .footer-social-icons{
        gap: 4em;
        margin: auto;
    }

    #right-footer{
        width: 100%;
        /* height: 40vh; */
    
    }

    .footer-text {
        margin: auto;

    }

    .footer-small-font{
        font-size: 0.9em;
        opacity: 0.6;
    }

    .second-layer{
        font-size: 1em;
        padding: 0em 2em;
    }

    .footer-logo{
        font-size: .7em;
    }

    .second-layer .second-layer-container{
        width: 100%;
        gap: 1em;
        flex-direction: column;
        padding-bottom: 1em ;
       
    }

    .footer-nav ul{
        gap: 2em;
    }

    .footer-nav ul li a{
        font-size: 1.5em;
    }

        /* styling FQA section */
    #faq{
        background-color: var(--clr-steelgrey);
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2em 0em;
    }

    #faq .faq-container{
        width: 90%;
        font-size: 1.5em;

      
    }
    .question-answer{
        font-size: .5em;
    }
    /* Customer page styling */
    #customer-page{
        height: auto;
    }

    #customer-page .customer-comment-heading{
        width: 100%;
    }

    #customer-page #customer-comments{
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: auto;
        font-size: 1.2rem;
        line-height: 1.3em;
        gap: .5em;
    }
    
    #customer-page #customer-comments .content .head{
        font-size: 1.3rem;  
    }

    .address{
        font-size: 0.9em;
    }

    .customer-nav{
        width: 80%;
        padding-top: .2em;
    }


    #brands-page{
        height: auto;
        padding:  0em 2em;
    }
    
    #brands-page .brand-text{
        text-align: center;
        
        font-size: 1.5em;
       
    }
    #logo-size{
        width: 11em;
    }
    
    #experience-page .experience-rating{
        padding: 0em 1em;
    }
    
    #experience-page .experience-rating #central-div{
        width: 100%;
        gap: 2em;
    }
    
    #exp-media{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #exp-media-p{
        font-size: .9em;
    }

        /* styling the fifth section(class=experience-page) */
    #experience-page{
        height: auto;
    }

    #experience-page .experience-container{
        height: auto;
        justify-content: space-between;
    }

    #experience-page .experience-container .experience-left-page{
        height: 50vh;
    }

    #experience-page .experience-container .experience-left-page .inner-experience-left-page .inner-text{
        font-size: .9rem;
        margin-right: 2%;
    }

    #experience-page .experience-container .experience-right-page{
        height: 50vh;}

    #experience-page .experience-container .experience-left-page .inner-experience-left-page{
        height: 50vh;
    }  
       
    /* Styling the fourth section(class=cta-page) */
    #cta-page{
        margin: auto;
        height: auto;
        padding: 1em;

    }


    #cta-page .cta-container{
        width: 90%;
        height: auto;
    }
    .content-center .flex-box .box-card p{
        font-size: 1rem;
    }
    .content-center .h1{
        width: 70%;
    }

    .content-center h5{
        padding-top: 2%;
        font-size: 1.1em;
    }

    

    .footer-offer-page{
        font-size: 0.9rem;
    }
    
    .content-center .flex-box{
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.1rem;
        margin: auto;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        gap: .5em;
    }

    .content-center .flex-box .box-card{
        height:12rem;
        width: 12rem;
        background-color: var(--clr-white);
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 5%;
    }

    .content-center #flexbox-cta-container{
        width: 100%;
    
    }
   
    .footer-offer-page{
        width: 90%;
    }
        /* styling the second section (id=qoute-page) */
    
    #quote-media h2{
        text-align: center;
        padding-top: .5em;
        font-size: 2.5em;
    }
    #quote-media2{
        padding-bottom: 2em;
    }

    #qoute-page{
        height: auto;
    }

    #qoute-page .section-container{
        justify-content:space-between;
        align-items: center;
        height: auto;
        gap: 1em;
        
    }

    #quote-media{
        height: 50%
    }

    .section-left .flex-content{
        margin: 5% 0% 2% 0;
    }

    .flex-content-img{
        width: 2.5em;
    }   

    .light-font{
        font-size: 1.5rem;  
    }

    .left-align .p{
        font-size: 1rem;
        font-weight: 0;
        line-height: 1.7rem;
    }

    .arrow{
        margin: .8em 0 0 4.2em;
        font-size: .8rem;
    }

    #quote-media2{
        height: auto;
        text-align: center;
    }

    .section-eighty-width .section-container .section-right h1{
        font-size: 2.7rem;
        padding-top: 1rem;
    }

    .section-eighty-width .section-container .section-right input{
        width: 100%;
        font-size: 2em;
    }

    #offer-page{
        height: auto;
        width: 100%;
        margin: 0%;
        
    }
    #offer-page #offer-container{
        width: 90%;
        align-items: center;
    }

    #offer-media-width{
        margin-right: 0%;
    }
    
    #offer-page #offer-container .offer-left-text{
        margin: 2em 0 0em 0rem;
       }
    #offer-media-h1{
        text-align: center;
        margin-right: 0%;
        padding-left: 0%;
        width: 100%;
        padding: .7em;
    }

    .offer-left-text .offer-content{
        font-size: 1.8em;
      
    }
    
    .offer-left-text .offer-content .offer-text{
        line-height: 1.5em;
    }
    
    .offer-left-text .offer-content .offer-text .small-font{
        line-height: 1.5em;
        font-size: 1.5rem;
        margin-right: 0%;
    }
    
    .offer-left-text .offer-content .dots{
        width: 1.9em;
        padding-left: 1em;
    }
    
    .line-width{
        width: .08em;
    }
    
    #offer-page #offer-container #offer-width {
        width: 100%;
        height: 100%;
    }
    
    #offer-page #offer-container .offer-right .inner-offer-right{
        width: 100%;
        padding-top: 0%;
        text-align: center;
    }
     
    #offer-page #offer-container .offer-right .p{
        font-size: 1.5rem;
        margin: 3% 1%;
    }

    #offer-width{
        padding-bottom: 2em;
    }

}